{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="alertForm"></div>
            <h2 class="text-center text-uppercase text-secondary mb-0">Inscription</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{ form_start(form, { 'attr' : { 'id': 'myForm' } }) }}
                    {{ form_widget(form) }}

                    {% if form_errors(form.Telephone) %}
                        Téléphone : {{ form_errors(form.Telephone) }}
                    {% endif %}
                    {% if form_errors(form.Civilite) %}
                        Civilité : {{ form_errors(form.Civilite) }}
                    {% endif %}
                    {% if form_errors(form.Nom) %}
                        Nom : {{ form_errors(form.Nom) }}
                    {% endif %}
                    {% if form_errors(form.Prenom) %}
                        Prenom : {{ form_errors(form.Prenom) }}
                    {% endif %}
                    {% if form_errors(form.Email) %}
                        Email : {{ form_errors(form.Email) }}
                    {% endif %}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}